@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<p>Öffentlicher berreich</p>
<a href="/home/index">zurück</a>
<div>

</div>
</body>
</html>