@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <a href="/home/index">
        <img src="/Images/ex3.jpeg" alt="Home"/>
    </a>
</div>
<p>Privater Raum</p> <br>
<a href="/home/index">zurück</a>
<div>

</div>
</body>
</html>